<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.perm.kate.pro" platformBuildVersionCode="23" platformBuildVersionName="6.0-2704002">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <permission android:name="com.perm.kate.pro.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.perm.kate.pro.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <application android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.perm.kate.KApplication" android:theme="@style/KateLight">
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.perm.kate.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.perm.kate.InitialActivity" android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="com.sec.minimode.icon.portrait.normal" android:resource="@drawable/icon"/>
            <meta-data android:name="com.sec.minimode.icon.landscape.normal" android:resource="@drawable/icon"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.perm.kate.LoginActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.perm.kate.LoginActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.ProfileInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.perm.kate.profile"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.FriendsActivity2" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.FollowersActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.BirthdaysActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NewsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.WallActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NewsCommentsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.perm.kate.MessageThreadActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NewMessageActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.AlbumsActivity2">
            <intent-filter android:label="@string/share_album">
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="image/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:label="@string/share_album">
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <data android:mimeType="image/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PhotosActivity"/>
        <activity android:name="com.perm.kate.PhotoViewerActrivity"/>
        <activity android:name="com.perm.kate.SinglePhotoViewer"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.CommentsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.AudioActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.SearchWallActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.SearchActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.SearchParamsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.SearchVideoParamsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.SearchAudioParamsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.VideoActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.VideoUploadActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.StatusActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PhotoEditActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NewAlbumActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NoteActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.FavesActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.EditChatActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.MembersActivity">
            <intent-filter android:label="@string/share_message">
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:label="@string/share_message">
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <data android:mimeType="image/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.CheckMembersActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.CreateChatActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NewCommentActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.WallPostActivity" android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter android:label="@string/share_wall">
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.AttachmentsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.Settings" android:theme="@android:style/Theme.Black"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupsActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupsInvitesActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupTopicsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupMembersActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupLinksActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupContactsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupManagementActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.EditGroupManagerActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.VideoViewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NotesActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.EditAudioActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.LyricsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NewNoteActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NewGroupTopicActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.SendLogActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PlayerActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.AccountsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.UpdateActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.LikesActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.RecordEpisodeActivity"/>
        <activity android:configChanges="keyboardHidden" android:name="com.perm.kate.PaintActivity" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboardHidden" android:name="com.perm.kate.SettingsPaint" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.ColorPickerActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PollActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PollVotersActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PollCreateActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.SyncActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.SyncSelectionActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PhotoDetailsActivity"/>
        <service android:name="com.perm.kate.UpdateService"/>
        <service android:name="com.perm.kate.PlaybackService"/>
        <service android:name="com.perm.kate.BirthdayService"/>
        <service android:name="com.perm.kate.CleanupService"/>
        <service android:name="com.perm.kate.push.PushService"/>
        <service android:exported="true" android:name="com.perm.kate.sync.AccountAuthenticatorService" android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <service android:exported="true" android:name="com.perm.kate.sync.mySyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_myapp"/>
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts"/>
        </service>
        <receiver android:name="com.perm.kate.music.MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.perm.kate.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:label="@string/label_wg_mini_name" android:name="com.perm.kate.KateWidgetMini">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_mini"/>
        </receiver>
        <receiver android:label="@string/label_wg_med_name" android:name="com.perm.kate.KateWidgetMed">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_med"/>
        </receiver>
        <service android:name="com.perm.kate.KateWidgetMed$WgUpdateService"/>
        <receiver android:label="@string/label_wg_audio_name" android:name="com.perm.kate.KateWidgetAudio">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_audio"/>
        </receiver>
        <receiver android:enabled="@bool/v11_or_above" android:label="@string/label_wg_messages_name" android:name="com.perm.kate.KateWidgetMessages">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_messages"/>
        </receiver>
        <receiver android:name="com.perm.kate.MessagesReceiver">
            <intent-filter>
                <action android:name="com.perm.kate.intent.action.new_messages"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.perm.kate.MessagesWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <receiver android:name="com.perm.kate.push.C2DMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.perm.kate.pro"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.perm.kate.pro"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="com.google.android.maps" android:required="false"/>
        <activity android:label="@string/app_name" android:name="com.perm.kate.GoogleMapsActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.AudioAlbumsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.VideoAlbumsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PhotoUploadOptionsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.WallMessageActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.ForwardedMessagesActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.BlockActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupBanActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GroupBannedActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.DocsActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.FileManager"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.DeactivatedActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.BannedActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.BlackListActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.ExtraProfileActivity2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.perm.kate.DialogsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PhotoChooserActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PhotoChooserBucketsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.AudioAlbumActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.VideoAlbumActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.WebActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GifViewActivity"/>
        <service android:name="com.perm.kate.audio_cache.AudioCacheService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.audio_cache.AudioCacheActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.perm.kate.LinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="api.openvk.org"/>
                <data android:host="openvk.org"/>
                <data android:host="openvk.xyz"/>
                <data android:host="openvk.uk"/>
                <data android:host="openvk.co"/>
                <data android:host="ovk.to"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PublishDateActivity"/>
        <service android:name="com.perm.kate.OnlineService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.MessageSaveActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.DialogAttachmentsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.EditProfileActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GamesActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.NewGroupActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.StatsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.EditGroupActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.history.HistoryActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.RequestsToGroupActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.GiftsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.MyStickersActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.AddStickersActivity"/>
        <service android:name="com.perm.kate.video_cache.VideoCacheService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.video_cache.VideoCacheActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.VideoDetailsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.ChangePasswordActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PrivacyActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.PrivacyItemActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.FriendsListsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.EditGroupLinkActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleInstance" android:name="com.perm.kate.PopupActivity" android:noHistory="true" android:theme="@style/KatePopup" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:name="com.inmobi.rendering.InMobiAdActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver">
            <intent-filter>
                <action android:name="com.inmobi.share.id"/>
            </intent-filter>
        </receiver>
        <service android:name="com.perm.kate.MessageNotificationService"/>
        <receiver android:name="com.perm.kate.WearReceiver"/>
        <receiver android:name="com.perm.kate.VoiceAssistantReceiver">
            <intent-filter>
                <action android:name="VK_MUSIC_PLAY_ALL"/>
            </intent-filter>
            <intent-filter>
                <action android:name="VK_MUSIC_PLAY_LIST"/>
            </intent-filter>
            <intent-filter>
                <action android:name="VK_MUSIC_PLAY_SEARCH"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.DashConfigActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.MarketAlbumsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.MarketItemsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.MarketItemActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.AlbumCommentsActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:name="com.my.target.ads.MyTargetActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.perm.kate.CommentRepliesActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:name="com.yandex.mobile.ads.AdActivity"/>
        <service android:enabled="true" android:exported="true" android:name="com.yandex.metrica.MetricaService" android:process=":Metrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.yandex.metrica.IMetricaService"/>
                <data android:scheme="metrica"/>
            </intent-filter>
            <meta-data android:name="metrica:api:level" android:value="44"/>
        </service>
        <receiver android:enabled="true" android:exported="true" android:name="com.yandex.metrica.MetricaEventHandler">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
